SympliSEOTracker/.vs/
SympliSEOTracker/bin/
SympliSEOTracker/obj/
SympliSEOTracker.Repository/bin/
SympliSEOTracker.Repository/obj/project.assets.json
SympliSEOTracker.Repository/obj/
SympliSEOTracker.Domain/bin/Debug/netcoreapp3.1/SympliSEOTracker.Domain.deps.json
SympliSEOTracker.Domain/bin/
SympliSEOTracker.Domain/obj/
