@model SympliSEOTracker.Models.DailySeoSearchResultSetViewModel


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Searched On(Utc)</th>
                <th scope="col">Search Engine</th>
                <th scope="col">Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var li in Model.SearchResultLineItems)
            {
                <tr>
                    <th scope="row">@li.SearchedOnUtc</th>
                    <td>@li.SearchEngineType</td>
                    <td>@li.Count</td>
                </tr>
            }
        </tbody>
    </table>
</div>
